# Node dependencies. These would take up way too much unnecessary space on the
# repo. Run npm install to get dependencies.
node_modules/

# Where any DBs or local data of the trainer should be stored. This should be
# different for all potential users, so is not included in the repo.
server/data/
